<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c26ef915-1bb4-442b-8751-012eec2e09da" name="Test Suite 4" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c26ef915-1bb4-442b-8751-012eec2e09dafileName">Test-Suite-4</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
